*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.925);
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.fa-location-dot{
  color: #667eea;
  margin-right: 10px;
  font-size: 30px;
}
.search-box input{
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.search-box button{
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #667eea;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}


.not-found{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #524a4a;
  margin-top: 20px;
}

.weather-box{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.city-name{
  font-size: 30px;
  font-weight: bold;
  color: #667eea;
  margin-bottom: 10px;
}
#weather-icon{
  margin-bottom: 20px;
  font-size: 60px;
}
.temperature{
  font-size: 40px;
  font-weight: bold;
  color: #667eea;
}
.description{
  font-size: 20px;
  color: #524a4a;
  margin-bottom: 10px;
}
.humidity, .wind{
  font-size: 16px;
  color: #524a4a;
  margin-bottom: 5px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
